<%- include('../includes/head.ejs') %>
<div class="page-100">
  <div class="home-text-container">
    <h1>The simplest way to keep notes</h1>
    <p>
      All your notes, synced on all your devices. Get Simplenote now for iOS,
      Android, Mac, Windows, Linux, or in your browser.
    </p>
    <button class="main-btn">
      <a href="/register">Register User</a>
    </button>
  </div>
  <div class="home-image-container">
    <!-- <h2>home image</h2> -->
    <img src="/images/main-home.png" alt="" />
  </div>
</div>

<%- include('../includes/footer.ejs') %>
<!-- https://www.youtube.com/watch?v=HJGWu0cZUe8&list=PLkqiWyX-_Lov8qmMOVn4SEQwr9yOjNn3f&index=11&ab_channel=WittCode -->
